body {
  font-family: 'Rubik', sans-serif;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik.woff2') format('woff2 supports variations'),
  url('/fonts/Rubik.woff2') format('woff2-variations');
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
