@use "reset";
@use "font";

html {
  caret-color: transparent;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.scale-enter-active, .scale-leave-active {
  transition: all 0.6s ease;
}

.scale-enter-from, .scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

